.iWMFGj {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background: white;
    border-bottom: 1px solid rgb(204, 204, 204);
    z-index: 10;
    padding: 5px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}

.hHewPs {
    height: 44px;
    width: 70px;
    display: inline-block;
    margin-right: 15px;
}